html {
  height: 100%;
}


body {
  background: url("./images/mainpage.jpg")no-repeat center center;
  color:  white;
  font-size: 90%;
  font-family: 'Yellowtail', 'Ariel';
  line-height: 1.5;
  text-align: left;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  weight: 100%;
}

.body {
  margin: 0 auto;
  width: 80%;
  clear: both;
}

a {
  text-decoration: none;
}

a:link, a:visited {

}

a:hover, a:active {

}

h1 {
  color: #fff;
  font-family: 'Yellowtail', serif;
  font-size: 46px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 60px 0;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
  vertical-align: middle;
  margin-top: 2%;
  margin-left: 2%;
}

header nav {
  background-color: #204787;
  height: 60px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*position: fixed;*/
}

header nav ul {
  list-style: none;
  margin: 0 auto;
  float: right;
}

header nav ul li {
  display:inline;
  float: left;
}

header nav a:link, header nav a:visited {
  color: white;
  display: inline-block;
  padding: 15px 20px;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  height: 30px;
}

header nav a:hover, header nav a:active {
  background-color: black;
  text-shadow: none;
}

header nav ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainContent {
  background-color: #204787;
  opacity: 0.73;
  border: 2px solid transparent;
  overflow: scroll;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.content1 {
  width: 90%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.content2 {
  width: 90%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.content3 {
  width: 90%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.content4 {
  width: 90%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.aboutMe {
  background: url("./images/aboutme.jpg") rgba(0,0,0,0.1) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.aboutMe h2 {
  font-size: 45px;
  color: #204787;
}

.aboutMe-description {
  background-color: #204787;
  opacity: 0.73;
  border: 2px solid transparent;
  overflow: scroll;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.aboutMe-description p {
  color: white;
  font-size: 25px;
  text-align: center;
  width: 90%;
}

.signup {
  background-color: black;
  opacity: 0.73;
}

.signup p {
  color: white;
  width: 90%;
}

.mainFooter {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
}

.mainFooter section {
  margin-top: 12%;
}

.mainFooter section p {
  color: white;
  /*font-family: 'karla', sans-serif;*/
  line-height: 1.5;
  text-align: center;
  font-size: 14px;
}

.mainFooter nav ul {
  list-style: none;
  margin-top: 8%;
  text-align: center;
}

.mainFooter nav ul li {
  display:inline;
  padding-right: 4px;
}

.mainFooter nav a:link, .mainFooter nav a:visited {
  color: white;
  padding: 15px 20px;
  margin: 0 auto;
  display: none;
}

.mainFooter nav a:hover, .mainFooter nav a:active {
  background-color: #e2574c;
  text-shadow: none;
}

.mainFooter i {
  padding-right: 16px;
  color: white;
  font-size: 30px;
}

/*desktop*/
@media only screen and (min-width: 1140px) {
  .body {width: 70%};
}

/*div.button {
	align-items: center;
	align-self: center;
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	min-height: 800px;
	justify-content: center;
	width: 800px;*/

}


/*a.btn {
	background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
	border-radius: 2px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
}

a.btn:hover {
	box-shadow: 0px 4px 4px rgba(34,62,66,.5);
	-webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;*/
